.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.header h1 {
  padding: 0 10px;
  display: inline-block;
  background-color: #003d72;
  color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

body {
  background-image: url(./images/background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav .photos img {
  width: 200px;
  height: 200px;
  padding-right: 10px;
  margin-left: 100px;
}

.nav .photos h1 {
  padding-left: 200px;
  display: block;
  font-size: 4em;
}
.nav .tables h1 {
  padding-left: 100px;
  display: block;
  font-size: 4em;
}
.nav .logo {
  width: 70px;
  height: 50px;
  position: fixed;
}
.nav .tables {
  margin-left: 100px;
}
.nav .tables table {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 100;
  text-align: center;
  border-style: dotted;
}
.nav .tables .tb {
  padding-left: 130px;
}
table {
  border: 1px solid #eee;
}
table td {
  border: 1px solid #eee;
}
table thead td {
  background-color: blue;
  text-align: center;
}
#comm:focus {
  border: 5px solid;
  border-color: red;
}
.details {
  display: inline-block;
  position: relative;
  margin-top: -30px;
}

.mid {
  display: flex;
}
.mid .feedback {
  margin-left: 50%;
  background-color: #003d72;
  width: 400px;
  padding-left: 10px;
}
.feedback .fb .comm {
  width: 100px;
  height: 100px;
}
.mid .feedback .name {
  padding: 2px 8px;
}

.footer {
  padding-bottom: 10px;
}
.footer p {
  text-decoration: darkblue;
}

.footer .social img {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  filter: grayscale(100%);
}
.section {
  position: relative;
  margin-left: 100px;
  font-size: 20px;
}
.section p {
  text-size-adjust: 100px;
}
.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.footer .social img:hover {
  filter: grayscale(0);
}
